<!DOCTYPE html>
<html lang="en" dir="ltr">
  <body>{{ title }}</h1>
   
    <table border="2">
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Album</th>
        <th>
          <a href= "{{ url_for('viewPlaylist', playlist = playlist, playlistId = playlistId, token = token, sortBy = 'Key') }}"> Key</a>
        </th>
        <th>
          <a href= "{{ url_for('viewPlaylist', playlist = playlist, playlistId = playlistId, token = token, sortBy = 'BPM') }}"> BPM</a>
        </th>
        <th>
          <a href= "{{ url_for('viewPlaylist', playlist = playlist, playlistId = playlistId, token = token, sortBy = 'Danceability') }}"> Danceability</a>
        </th>
        <th>
          <a href= "{{ url_for('viewPlaylist', playlist = playlist, playlistId = playlistId, token = token, sortBy = 'Popularity') }}"> Popularity</a>
        </th>

      </tr>
      {% for t in tracks %}
        <tr>
          <td>{{ t[0] }}</td> 
          <td>{{ t[1] }}</td> 
          <td>{{ t[2] }}</td> 
          <td>{{ t[3] }}</td> 
          <td>{{ t[4] }}</td> 
          <td>{{ t[5] }}</td> 
          <td>{{ t[6] }}</td> 
        </tr>
      {% endfor %}
    </table>
  </body>
  
</html>