<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Flask</title>
  </head>
  <body>
    
    <h1> {{"{}'s Playlists".format(display_name)}} </h1>
    
    
    <table border="2">
      <tr>
        <th> Name </th>
        <th> Length </th>        
      </tr>
      {% for i in range(length)  %}
        <tr>
          <td><a href= "{{ url_for('viewPlaylist', playlist = playlist_names[i], playlistId = playlist_ids[i], token = token) }}">{{ "{}".format(playlist_names[i])}}</a></td>
          <td>{{ playlist_lengths[i] }}</td>
        </tr>
      {% endfor %}

    </table>
  </body>
</html>